# Template file
#
# Variables:
#   - item - the class item
#       - name - the name of the item
#       - id - an numeric identifier, greater than 0
#       - display_name - a string representation for the class
#
#   E.g.
#   item = {
#       'name': 'person',
#       'id': 0,
#       'display_name': 'Person'
#   }
#

{% for item in items %}
item {
    name: "{{ item.name }}"
    id: {{ item.id }}
    display_name: "{{ item.display_name }}"
}
{% endfor %}